body {
  padding: 2em;
  background-color: rgb(143, 143, 143);
  color: rgb(11, 24, 43);
}

ul {
  list-style-type: none;
  padding: 0;
}
.user {
  background-color: rgb(11, 24, 43);
  color: rgb(230, 121, 43);
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 2em;
  text-align: center;
  margin: 0.5em 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.user:hover {
  color: rgb(11, 24, 43);
  font-weight: 800;
  background-color: rgb(230, 121, 43);
  transition: 1s;
}
.nav-btn {
  background-color: #ffffff;
  font-size: 1.5em;
  padding: 1em 2em;
  border-radius: 2em;
  font-family: "Courier New", Courier, monospace;
  transition: 1s 0.2s;
  box-shadow: inset 0px 0px 20px 1px rgb(51, 51, 51);
}
.nav-btn:hover {
  background-color: rgb(230, 121, 43);
  transition: 0.5s;
}
.center {
  display: grid;
  align-items: center;
  justify-items: center;
}
.hide{
  animation: fade 1.2s 1;
}
.hidden{
  display: none;
}
.info{
  padding: 2em;
  margin-bottom: 2em;
  background-color: rgba(0,0,0,0.50);
  color: #ffffff;
  text-align: center;
  font-size: 1.25em;
}
.info button{
  background-color: goldenrod;
  color: goldenrod;
  border-radius: 1.25em;
  border: none;
  font-size: 1.1em;
  padding: 1em;
}
.info button:hover{
  background-color: black;
  color: #fff;
  transition: 0.45s;
}

@keyframes fade{
  0% {opacity:100;}
  70% {opacity: 0;}
  100% {opacity: 0;}
}