<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="center">
    <h1>Welcome to this site</h1>
    <div class="info">
      <p>This was created with express.js</p>
      <p id="hidden">Now you see me....</p>
      <button type="button" id="btn01" onclick="toggleHidden()">Curious?</button>
    </div>
    <a class="nav-btn" href="/users">View Users</a>
  </div>
</body>
<script src="helper.js" defer></script>

</html>